@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Success!</h1>

<p>
    Your message has been sent to the selected staff. If this is an emergency please call 911. 
</p>

<a asp-action="MessagePage" class="btn btn-primary">Back to Messages</a>

