@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h2>Password Reset Requested</h2>
    <p>If an account matching the email address you provided exists, we've sent an email with instructions on how to reset your password. Please check your email inbox and follow the instructions to proceed with resetting your password.</p>
    <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Home Page</a></p>
</div>